body {
    font-family: Arial, sans-serif;
    background-image: url('../img/plano_de_fundo.png');
    background-attachment: fixed;
    color: #333;
    margin: 0;
    padding: 0;
    top: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: rgba(0, 0, 0, 0.774);
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

main {
    margin-top: 10%;
}

nav {
    margin-left: 900px;
    margin-top: 25px;
}

nav>ul {
    list-style: none;
}

nav>ul>li>a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    transition: ease 0.25s;
}

nav>ul>li>a:hover {
    color: gray;
    scale: 1.01;
    transition: ease-in 0.25s;
}

div {
    max-width: 800px;
    margin: 50px auto;
    background-color: #cfcfcf;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: ease 0.75s;
}

div:hover {
    transform: scale(1.01);
}

details:hover {
    cursor: pointer;
}

summary {
    margin-bottom: 2%;
}

.imagem {
    text-align: center;
    background-color: aliceblue;
    width: 50%;
    margin: 0 auto;
    border-radius: 15px;
    padding: 1px;
    padding-bottom: 5px;
    box-shadow: 5px 5px 5px;
    margin-bottom: 5%;
}

.curiosidades {
    background-color: aliceblue;
    margin: 0 auto;
    width: 75%;
    padding-top: 1.5px;
    padding-bottom: 2px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px;
    margin-bottom: 5%;
}

.lugares {
    background-color: aliceblue;
    margin: 0 auto;
    width: 75%;
    padding-top: 1.5px;
    padding-bottom: 2px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px;
}

.lugares ol {
    margin-left: 20%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

h1 {
    background-color: rgba(0, 0, 0, 0.774);
    text-align: center;
    color: rgba(240, 248, 255, 1);
    width: max-content;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 2%;
    padding: 10px;
    border-radius: 10px;
}

p {
    text-align: justify;
}

footer {
    bottom: -90%;
    position: absolute;
    text-align: center;
    background-color: rgb(0, 0, 0,0.774);
    width: 100%;
    font-size: 1.5rem;
    color: red;
}